.page-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content max-content max-content 40% max-content;
      grid-template-rows: -webkit-max-content -webkit-max-content -webkit-max-content 40% -webkit-max-content;
      grid-template-rows: max-content max-content max-content 40% max-content;
  overflow-x: hidden;
  height: 100vh;
}

.page-1 .page-title-grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.page-1 .page-title-grouping .page-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #252934;
}

.page-1 .page-title-grouping .underline-page-title {
  background: #252934;
  height: 4px;
  width: 70px;
}

.page-1 .top-container-page-1 {
  position: relative;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4%;
}

.page-1 .top-container-page-1 .top-left-container-page-1 {
  width: 30%;
  margin-right: 4%;
}

.page-1 .top-container-page-1 .top-left-container-page-1 .my-photo {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
}

.page-1 .top-container-page-1 .top-right-container-page-1 {
  width: 70%;
  font-family: 'Raleway', sans-serif;
  color: #252934;
  text-align: left;
  padding: 3.73%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  overflow: hidden;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  line-height: 1rem;
  font-size: 2rem;
}

.page-1 .top-container-page-1 .top-right-container-page-1 .quotation-marks {
  white-space: nowrap;
  color: #f24e4e;
  font-size: 1.6rem;
  font-weight: 900;
}

.page-1 .middle-container-page-1 {
  position: relative;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-1 .middle-container-page-1 .swipe-card {
  position: relative;
  background-color: #ffffff;
  position: absolute;
  width: 50%;
  height: 100%;
  will-change: transform;
  border-radius: 12px;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.page-1 .middle-container-page-1 .swipe-card .swipe-card-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1.5em;
  height: 75%;
  width: 100%;
}

.page-1 .middle-container-page-1 .swipe-card .swipe-card-title {
  font-size: 1.4rem;
  font-weight: 500;
}

.page-1 .bottom-container-page-1 {
  position: relative;
  -ms-grid-row: 5;
      grid-row-start: 5;
  padding-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-1 .bottom-container-page-1 .down-page-button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-1 .bottom-container-page-1 .down-page-button .text-to-next-page {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}
/*# sourceMappingURL=Page1.css.map */