.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App ::-webkit-scrollbar {
  display: none;
}

@media all and (min-width: 1024px) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 100vh / 30% 70%;
        grid-template-areas: "intro intro" "about projects";
  }
}

@media all and (min-width: 1366px) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 90vh 10vh / 25% 75%;
        grid-template-areas: "intro intro" "about projects" "contact projects";
  }
}

.App .Intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252934;
  width: 100%;
  height: 100vh;
}

@media all and (min-width: 1024px) {
  .App .Intro {
    grid-area: intro;
  }
}

.App .Intro .profile-paragraph {
  line-height: 120%;
  font-size: 1.8rem;
  color: #BFC0C0;
  max-width: 80%;
}

@media all and (min-width: 768px) {
  .App .Intro .profile-paragraph {
    font-size: 2.5rem;
  }
}

.App .Intro .profile-paragraph .my-name {
  color: #f24e4e;
}

.App .Intro .intro-button-container {
  width: 100%;
}

.App .Intro .intro-button-container .intro-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}

.App .Intro .intro-button-container .intro-button .intro-button-text {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

.App .About {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media all and (min-width: 1024px) {
  .App .About {
    grid-area: about;
    height: 100%;
  }
}

.App .About .about-container .SectionTitleGrouping {
  display: inline-block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1rem;
  border: solid;
}

.App .About .about-container .SectionTitleGrouping .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .About .about-container .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 4px;
  width: 70px;
}

.App .About .about-container .about-content-container-no-title {
  max-width: 400px;
}

@media all and (min-width: 768px) {
  .App .About .about-container .about-content-container-no-title {
    border: 2.5px dashed #ccc;
    border-radius: 12px;
    padding: 1rem;
    overflow: hidden;
  }
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 400px;
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container {
  width: 30%;
  max-width: 150px;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .profile-picture {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container {
  margin-top: 1rem;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 7.5%;
}

@media all and (min-width: 1024px) {
  .App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container {
    display: none;
  }
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .SectionTitleGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75rem;
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .SectionTitleGrouping .section-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 2px;
  width: 60px;
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .navigation-button {
  margin-top: 0.5rem;
  color: white;
  background-color: #f24e4e;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 1.625rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-paragraph-container {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Raleway', sans-serif;
  color: #252934;
  text-align: left;
  padding: 3.73%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
}

.App .About .about-container .about-content-container-no-title .profile-picture-contents-intro-container .profile-paragraph-container .quotation-marks {
  white-space: nowrap;
  color: #f24e4e;
  font-size: 1.6rem;
  font-weight: 900;
}

.App .About .about-container .about-content-container-no-title .technology-cards-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 275px;
  width: 100%;
  padding-top: 3.5rem;
}

@media all and (min-width: 1024px) {
  .App .About .about-container .about-content-container-no-title .technology-cards-container {
    height: 220px;
    margin-top: 1.5rem;
  }
}

.App .About .about-container .about-content-container-no-title .technology-cards-container .swipe-card {
  position: relative;
  background-color: #ffffff;
  position: absolute;
  height: 200px;
  width: 135px;
  border-radius: 12px;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.App .About .about-container .about-content-container-no-title .technology-cards-container .swipe-card .swipe-card-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80%;
  width: 90%;
}

.App .About .about-container .about-content-container-no-title .technology-cards-container .swipe-card .swipe-card-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.App .Projects {
  position: relative;
  height: 100vh;
}

@media all and (min-width: 768px) {
  .App .Projects {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media all and (min-width: 1024px) {
  .App .Projects {
    grid-area: projects;
  }
}

.App .Projects .projects-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.App .Projects .projects-container .SectionTitleGrouping {
  display: inline-block;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 1rem;
  border: solid;
}

.App .Projects .projects-container .SectionTitleGrouping .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .Projects .projects-container .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 4px;
  width: 70px;
}

.App .Projects .projects-container .project-card-container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  width: 100%;
  margin-top: 1rem;
  overflow-y: scroll;
}

@media all and (max-width: 768px) {
  .App .Projects .projects-container .project-card-container {
    max-width: 400px;
  }
}

@media all and (min-width: 768px) {
  .App .Projects .projects-container .project-card-container {
    border: 2.5px dashed #ccc;
    border-radius: 12px;
  }
}

.App .Projects .projects-container .project-card-container .project-card-page-2 {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .c {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front .project-languages {
  font-size: 0.8rem;
  font-weight: 500;
  color: #F24E4E;
  height: 8%;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front .project-title-front {
  position: relative;
  color: #252934;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8%;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front .project-image-front {
  position: relative;
  height: 68%;
  width: auto;
  max-width: 100%;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front #work-in-progress {
  height: auto;
  width: 90%;
  margin-bottom: 4rem;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front .learn-more-button-container {
  position: relative;
  height: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-front .learn-more-button-container .learn-more-button {
  color: white;
  background-color: #f24e4e;
  font-weight: 500;
  border-radius: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  cursor: pointer;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .project-title-back {
  position: relative;
  color: #252934;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 2.5px dashed #ccc;
  padding: 1rem;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .flip-back-button-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 100%;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .flip-back-button-container .flip-back-button {
  border-radius: 50%;
  color: white;
  background-color: #f24e4e;
  padding: 0.2rem;
  font-size: 2.2rem;
  cursor: pointer;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .project-information-container {
  overflow-y: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-text {
  overflow-y: scroll;
  width: 100%;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-image {
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 75%;
  height: auto;
  margin-bottom: 2rem;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-image-rectangle {
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 90%;
  height: auto;
  margin-bottom: 2rem;
}

.App .Projects .projects-container .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-video {
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 90%;
  height: auto;
  max-height: 200px;
  margin-bottom: 2rem;
}

.App .Contact {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

@media all and (min-width: 1025px) {
  .App .Contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-area: contact;
    -ms-flex-item-align: end;
        align-self: end;
  }
}

.App .Contact .SectionTitleGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

@media all and (min-width: 1024px) {
  .App .Contact .SectionTitleGrouping {
    display: none;
  }
}

.App .Contact .SectionTitleGrouping .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .Contact .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 4px;
  width: 70px;
}

.App .Contact .social-icons-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 55%;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 15px;
  background-color: #252934;
}
/*# sourceMappingURL=style.css.map */