.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App ::-webkit-scrollbar {
  display: none;
}

@media all and (min-width: 480px) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 100vh / 40% 60%;
        grid-template-areas: "intro intro" "about projects";
  }
}

@media all and (min-width: 769px) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 100vh / 30% 70%;
        grid-template-areas: "intro intro" "about projects";
  }
}

@media all and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 100vh / 45% 55%;
        grid-template-areas: "intro intro" "about projects";
  }
}

@media all and (min-width: 1366px) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 100vh / 25% 75%;
        grid-template-areas: "intro intro" "about projects";
  }
}

.App .Intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #252934;
  width: 100%;
  height: 100vh;
}

@media all and (min-width: 480px) {
  .App .Intro {
    grid-area: intro;
  }
}

.App .Intro .profile-paragraph {
  line-height: 120%;
  font-size: 1.8rem;
  color: #BFC0C0;
  max-width: 80%;
}

@media all and (min-width: 768px) {
  .App .Intro .profile-paragraph {
    font-size: 2.5rem;
  }
}

.App .Intro .profile-paragraph .my-name {
  color: #f24e4e;
}

.App .Intro .intro-button-container {
  width: 100%;
}

.App .Intro .intro-button-container .intro-button {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  cursor: pointer;
}

.App .Intro .intro-button-container .intro-button .intro-button-text {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

.App .About {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media all and (min-width: 480px) {
  .App .About {
    grid-area: about;
    height: 100%;
  }
}

.App .About .SectionTitleGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 0.8rem;
}

@media all and (min-width: 480px) {
  .App .About .SectionTitleGrouping {
    margin-left: 1.5rem;
  }
}

.App .About .SectionTitleGrouping .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .About .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 4px;
  width: 70px;
}

@media all and (min-width: 480px) {
  .App .About .about-content-container {
    -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin-left: 1.5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 3.73%;
    overflow: hidden;
  }
}

.App .About .about-content-container .profile-picture-contents-intro-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 370px;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container {
  width: 30%;
  max-width: 150px;
  margin-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .profile-picture {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container {
  margin-top: 1rem;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 7.5%;
}

@media all and (min-width: 480px) {
  .App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container {
    display: none;
  }
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .SectionTitleGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75rem;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .SectionTitleGrouping .section-title {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 2px;
  width: 60px;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-picture-contents-container .contents-container .navigation-button {
  margin-top: 0.5rem;
  color: white;
  background-color: #f24e4e;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 1.625rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-paragraph-container {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Raleway', sans-serif;
  color: #252934;
  text-align: left;
  padding: 3.73%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.App .About .about-content-container .profile-picture-contents-intro-container .profile-paragraph-container .quotation-marks {
  white-space: nowrap;
  color: #f24e4e;
  font-size: 1.6rem;
  font-weight: 900;
}

.App .About .about-content-container .technology-cards-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 225px;
  width: 100%;
  margin-top: 1.75rem;
  margin-bottom: 2.5rem;
  padding-top: 1rem;
}

.App .About .about-content-container .technology-cards-container .swipe-card {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .About .about-content-container .technology-cards-container .swipe-card .swipe-card-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1.5em;
  height: 70%;
  width: 90%;
}

.App .About .about-content-container .technology-cards-container .swipe-card .swipe-card-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.App .Projects {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media all and (min-width: 480px) {
  .App .Projects {
    grid-area: projects;
    height: 100%;
  }
}

.App .Projects .SectionTitleGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.8rem;
}

.App .Projects .SectionTitleGrouping .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .Projects .SectionTitleGrouping .section-title-underline {
  background: #252934;
  height: 4px;
  width: 70px;
}

.App .Projects .project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 768px) and (orientation: landscape) {
  .App .Projects .project-card-container {
    display: -ms-grid;
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
    overflow-y: scroll;
    margin-top: 1rem;
  }
}

@media all and (min-width: 768px) and (orientation: portrait) {
  .App .Projects .project-card-container {
    margin-top: 1rem;
    overflow-y: scroll;
  }
}

@media all and (min-width: 1024px) {
  .App .Projects .project-card-container {
    display: -ms-grid;
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 1fr 1fr;
    overflow-y: scroll;
    margin-top: 1rem;
  }
}

@media all and (min-width: 1366px) {
  .App .Projects .project-card-container {
    display: -ms-grid;
    display: grid;
    grid: 1fr 1fr 1fr / 1fr 1fr 1fr;
    overflow-y: scroll;
    margin-top: 1rem;
  }
}

.App .Projects .project-card-container .project-card-page-2 {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .Projects .project-card-container .project-card-page-2 .container-project-image-expanded {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  visibility: visible;
  height: 100vh;
  width: 100vw;
}

.App .Projects .project-card-container .project-card-page-2 .container-project-image-expanded .project-image-expanded {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
  width: auto;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  visibility: visible;
}

.App .Projects .project-card-container .project-card-page-2 .c {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .project-languages {
  font-size: 0.8rem;
  font-weight: 500;
  color: #F24E4E;
  height: 8%;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .project-title-front {
  position: relative;
  color: #252934;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8%;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .project-image-front {
  position: relative;
  height: 68%;
  width: auto;
  max-width: 100%;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front #work-in-progress {
  height: auto;
  width: 90%;
  margin-bottom: 4rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .learn-more-button-container {
  position: relative;
  height: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .learn-more-button-container .learn-more-button {
  color: white;
  background-color: #f24e4e;
  font-weight: 500;
  border-radius: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .expand-image-icon-container {
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-front .expand-image-icon-container .expand-image-icon {
  font-size: 2rem;
  margin: 0.5rem;
  z-index: 1000;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid: auto auto / 85% 15%;
      grid-template-areas: "title button" "info info";
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .project-title-back {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  color: #252934;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .flip-back-button-container {
  position: relative;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: button;
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .flip-back-button-container .flip-back-button {
  border-radius: 50%;
  color: white;
  background-color: #f24e4e;
  padding: 0.2rem;
  font-size: 2.2rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .project-information-container {
  overflow-y: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: info;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-text {
  overflow-y: scroll;
  width: 100%;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-image {
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 75%;
  height: auto;
  margin-bottom: 2rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-image-rectangle {
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 90%;
  height: auto;
  margin-bottom: 2rem;
}

.App .Projects .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-video {
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 90%;
  height: auto;
  max-height: 200px;
  margin-bottom: 2rem;
}

.App .Contact {
  position: relative;
  background-color: #252934;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

@media all and (min-width: 480px) {
  .App .Contact {
    display: none;
  }
}

.App .Contact .SectionTitleGrouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

.App .Contact .SectionTitleGrouping .section-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.App .Contact .SectionTitleGrouping .section-title-underline {
  background: #ffffff;
  height: 4px;
  width: 70px;
}

.App .Contact .social-icons-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  width: 55%;
  padding: 2%;
  border-radius: 12px;
}
/*# sourceMappingURL=style.css.map */