.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media all and (min-width: 480px) {
  .App {
    display: -ms-grid;
    display: grid;
    grid: 100vh 100vh / 30% 70%;
        grid-template-areas: "intro intro" "about projects";
  }
}

.App .intro-page {
  position: relative;
  background-color: #252934;
  width: 100%;
  height: 100vh;
  z-index: 9999;
}

@media all and (min-width: 480px) {
  .App .intro-page {
    grid-area: intro;
  }
}

.App .intro-page .intro-container {
  position: absolute;
  top: 15%;
  bottom: 0%;
  left: 10%;
  right: 10%;
}

.App .intro-page .intro-container .profile-paragraph {
  font-family: 'Raleway', sans-serif;
  margin-top: 8rem;
  line-height: 120%;
  font-size: 1.8rem;
  color: #BFC0C0;
  text-align: left;
}

.App .intro-page .intro-container .profile-paragraph .my-name {
  color: #f24e4e;
}

.App .intro-page .intro-container .intro-button-container {
  position: absolute;
  bottom: 0%;
  width: 100%;
  margin-bottom: 5rem;
}

.App .intro-page .intro-container .intro-button-container .intro-button {
  position: relative;
  font-family: 'Raleway', sans-serif;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 1.5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
}

.App .intro-page .intro-container .intro-button-container .intro-button .intro-button-text {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
}

.App .page-1 {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media all and (min-width: 480px) {
  .App .page-1 {
    grid-area: about;
    height: 100%;
  }
}

.App .page-1 .page-title-grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-top: 0.8rem;
}

.App .page-1 .page-title-grouping .page-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .page-1 .page-title-grouping .underline-page-title {
  background: #252934;
  height: 4px;
  width: 70px;
}

.App .page-1 .top-container-page-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 370px;
}

.App .page-1 .top-container-page-1 .top-left-container-page-1 {
  width: 30%;
  max-width: 150px;
  margin-right: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.App .page-1 .top-container-page-1 .top-left-container-page-1 .my-photo {
  width: 100%;
  border-radius: 50%;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
}

.App .page-1 .top-container-page-1 .top-left-container-page-1 .navigation-button-container {
  margin-top: 1rem;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 7.5%;
}

@media all and (min-width: 480px) {
  .App .page-1 .top-container-page-1 .top-left-container-page-1 .navigation-button-container {
    display: none;
  }
}

.App .page-1 .top-container-page-1 .top-left-container-page-1 .navigation-button-container .navigation-container-title-grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.75rem;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.App .page-1 .top-container-page-1 .top-left-container-page-1 .navigation-button-container .navigation-container-title-grouping .underline-navigation {
  background: #252934;
  height: 2px;
  width: 60px;
}

.App .page-1 .top-container-page-1 .top-left-container-page-1 .navigation-button-container .navigation-button {
  margin-top: 0.5rem;
  color: white;
  background-color: #f24e4e;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 1.625rem;
  height: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}

.App .page-1 .top-container-page-1 .top-right-container-page-1 {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Raleway', sans-serif;
  color: #252934;
  text-align: left;
  padding: 3.73%;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  border-radius: 12px;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.App .page-1 .top-container-page-1 .top-right-container-page-1 .quotation-marks {
  white-space: nowrap;
  color: #f24e4e;
  font-size: 1.6rem;
  font-weight: 900;
}

.App .page-1 .middle-container-page-1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 225px;
  width: 100%;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding-top: 1rem;
}

.App .page-1 .middle-container-page-1 .swipe-card {
  background-color: #ffffff;
  position: absolute;
  height: 100%;
  width: 150px;
  border-radius: 12px;
  -webkit-box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 6px 10px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .page-1 .middle-container-page-1 .swipe-card .swipe-card-image {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 1.5em;
  height: 70%;
  width: 90%;
}

.App .page-1 .middle-container-page-1 .swipe-card .swipe-card-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.App .page-2 {
  position: relative;
  background-color: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media all and (min-width: 480px) {
  .App .page-2 {
    grid-area: projects;
    height: 100%;
  }
}

.App .page-2 .page-title-grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 1em;
}

.App .page-2 .page-title-grouping .page-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #252934;
}

.App .page-2 .page-title-grouping .underline-page-title {
  background: #252934;
  height: 4px;
  width: 70px;
}

.App .page-2 .project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media all and (min-width: 480px) and (orientation: landscape) {
  .App .page-2 .project-card-container {
    display: -ms-grid;
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 50% 50%;
    overflow-y: scroll;
  }
}

.App .page-2 .project-card-container .project-card-page-2 {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.App .page-2 .project-card-container .project-card-page-2 .c {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 240px;
  width: 90%;
  max-width: 350px;
  border-radius: 12px;
  -webkit-box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 4px 7px 13px 3px rgba(0, 0, 0, 0.1);
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .project-languages {
  font-size: 0.8rem;
  font-weight: 500;
  color: #F24E4E;
  height: 8%;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .project-title-front {
  position: relative;
  color: #252934;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8%;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .project-image-front {
  position: relative;
  height: 68%;
  width: auto;
  max-width: 100%;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .learn-more-button-container {
  position: relative;
  height: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .learn-more-button-container .learn-more-button {
  color: white;
  background-color: #f24e4e;
  font-weight: 500;
  border-radius: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .expand-image-icon-container {
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-front .expand-image-icon-container .expand-image-icon {
  font-size: 2rem;
  margin: 0.5rem;
  z-index: 1000;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-back {
  position: relative;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-back .project-information-container {
  overflow-y: scroll;
  width: 95%;
  height: 100%;
  padding-top: 1rem;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-back .project-information-container .project-information-text {
  overflow-y: scroll;
  padding-bottom: 1rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-back .flip-back-button-container {
  position: absolute;
  width: 100%;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.App .page-2 .project-card-container .project-card-page-2 .projects-container-back .flip-back-button-container .flip-back-button {
  border-radius: 50%;
  color: white;
  background-color: #f24e4e;
  padding: 0.2rem;
  font-size: 2.2rem;
  margin: 0.5rem;
  z-index: 1000;
}

.App .page-3 {
  position: relative;
  background-color: #252934;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 40vh;
  overflow: hidden;
}

@media all and (min-width: 480px) {
  .App .page-3 {
    display: none;
  }
}

.App .page-3 .page-title-grouping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2.5em;
  margin-bottom: 0.5em;
}

.App .page-3 .page-title-grouping .page-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}

.App .page-3 .page-title-grouping .underline-page-title {
  background: #ffffff;
  height: 4px;
  width: 70px;
}

.App .page-3 .social-icons-container {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
  width: 55%;
  padding: 2%;
  border-radius: 12px;
}
/*# sourceMappingURL=style.css.map */