.App {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.page-content-container {
    min-height: 90vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 9em;
    margin-bottom: 5em;
}

.sticky-navbar,
#sticky-navbar-id {
    background-color: #252934 !important;
    border-bottom: solid 0.3em;
    border-bottom-color: #F24E4E;
    color: #BFC0C0;
    opacity: 0.95;
}
#sticky-nav-links-id-1,
#sticky-nav-links-id-2,
#sticky-nav-links-id-3,
#sticky-nav-links-id-4 {
    color: #BFC0C0 !important;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
}
