.App {
    text-align: center;
    margin: 0;
    padding: 0;
}

.website-content {
    margin-top: 0%;
}



.page-4 {
    background-color: #F5F5F5;
    position: relative;
    width: 100%;
    height: 100vh;
}



.page-content-container {
    min-height: 90vh;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 9em;
    margin-bottom: 5em;
}

@media only screen and (max-width: 767px) {
    .page-content-container {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (min-width:1000px) {
    h1 {
        font-size: 2.2em;
    }

    #container {
        width: 50%;
    }
}



.sticky-navbar,
#sticky-navbar-id {
    background-color: #252934 !important;
    border-bottom: solid 0.3em;
    border-bottom-color: #F24E4E;
    color: #BFC0C0;
    opacity: 0.95;
}
#sticky-nav-links-id-1,
#sticky-nav-links-id-2,
#sticky-nav-links-id-3,
#sticky-nav-links-id-4 {
    color: #BFC0C0 !important;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
}
