.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.website-content {
    margin-top: 1%;
}



.intro-page {
    background-color: #363645;
    position: relative;
    width: 100%;
    height: 90vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.intro-bottom {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 10vh;
}
.page-1 {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.page-2 {
    background-color: #363645;
    position: relative;
    width: 100%;
    height: 100vh;
}
.page-3 {
    background-color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100vh;
}
.page-4 {
    background-color: #363645;
    position: relative;
    width: 100%;
    height: 100vh;
}

.intro-container {
    position: absolute;
    top: 15%;
    bottom: 25%;
    left: 20%;
    right: 10%;
}
.intro-container-left {
    margin-top: 8%;
    position: absolute;
    left: 0;
    right: 50%;
}
.intro-container-right {
    margin-top: 8%;
    position: absolute;
    right: 25;
    left: 75%;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
.name-heading {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 65px;
    line-height: 65px;
    text-align: left;
}
.profile-paragraph {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 26px;
    text-align: left;
}
.linkedin-and-git {
    text-align: left;
    color: #FF6D6D;
}
linkedin-button {
    color: #FF6D6D;
}

.entry-button {
    font-family: 'Roboto', sans-serif;

}
.entry-button-text {
    color: white;
}

.sticky-navbar mr-auto > .active {
    color: red;
    background-color: green;
    border-bottom: 1px solid black;
}

.card-page-1 {
    height: 90vh;
    font-size: 1.1vw;
    margin-left: 20vw;
    margin-right: 20vw;
}

.page-1-top-div {
    height: 8%;
}
