@import './variables';
@import './functions';

.page-2 {
    background-color: #F5F5F5;
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 150vh;
    .page-content-container {
        position: relative;
        top: 10vh;
        display: flex;
        flex-direction: column;
        .ml {
            position: absolute;
            top: 0;
            .c {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-size: cover;
                background-position: center;
                height: 35vh;
                width: 100vw;
            }
            .projects-container-front {
                background-image: url(../../Images/NeuralNetwork.jpg);
                .project-title-front {
                    position: relative;
                    margin-bottom: 20%;
                    opacity: 1;
                    background-color: black;
                    color: white;  
                    font-size: fontSize(projectTitleFront);
                    font-weight: fontWeight(projectTitleFront);
                    text-transform: uppercase;
                    mix-blend-mode: overlay;
                }
            }
            .projects-container-back {
                border: solid;
                .project-title {
                    font-size: fontSize(projectTitleBack);
                    font-weight: fontWeight(projectTitleBack);
                    text-transform: uppercase;
                }
                .project-languages {
                    font-size: 0.8rem;
                    color: #F24E4E;
                }
            }
        }
        .todo {
            position: absolute;
            top: 35vh;
            .c {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-size: cover;
                background-position: center;
                height: 35vh;
                width: 100vw;
            }
            .projects-container-front {
                background-image: url(../../Images/todo.jpg);
                .project-title-front {
                    position: relative;
                    margin-bottom: 20%;
                    opacity: 1;
                    background-color: black;
                    color: white;  
                    font-size: fontSize(projectTitleFront);
                    font-weight: fontWeight(projectTitleFront);
                    text-transform: uppercase;
                    mix-blend-mode: overlay;
                }
            }
            .projects-container-back {
                border: solid;
                .project-title {
                    font-size: fontSize(projectTitleBack);
                    font-weight: fontWeight(projectTitleBack);
                    text-transform: uppercase;
                }
                .project-languages {
                    font-size: 0.8rem;
                    color: #F24E4E;
                }
            }
        }
        .project-3 {
            position: absolute;
            top: 70vh;
            .c {
                position: absolute;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-size: cover;
                background-position: center;
                height: 35vh;
                width: 100vw;
            }
            .projects-container-front {
                background-image: url(../../Images/MarsRover.jpg);
                .project-title-front {
                    position: relative;
                    margin-bottom: 20%;
                    opacity: 1;
                    background-color: black;
                    color: white;  
                    font-size: fontSize(projectTitleFront);
                    font-weight: fontWeight(projectTitleFront);
                    text-transform: uppercase;
                    mix-blend-mode: overlay;
                }
            }
            .projects-container-back {
                border: solid;
                .project-title {
                    font-size: fontSize(projectTitleBack);
                    font-weight: fontWeight(projectTitleBack);
                    text-transform: uppercase;
                }
                .project-languages {
                    font-size: 0.8rem;
                    color: #F24E4E;
                }
            }
        }
    }
}


