@import './variables';
@import './functions';

.page-1 {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: grid;
    grid-template-rows: max-content max-content max-content 40% max-content;
    overflow-x: hidden;
    height: 100vh;
    padding-bottom: 10vh;
    .page-title-grouping {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        .page-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
            color: #252934;
        }
        .underline-page-title {
            background: #252934;
            height: 4px;
            width: 70px;
        }
    }
    .top-container-page-1 {
        position: relative;
        grid-row-start: 3;
        grid-row-end: 4;
        display: flex;
        padding: 4%;
        .top-left-container-page-1 {
            width: 30%;
            margin-right: 4%;
            .my-photo {
                width: 100%;
                border-radius: 50%;
                box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
            }
        }
        .top-right-container-page-1 {
            width: 70%;
            font-family: 'Raleway', sans-serif;
            color: #252934;
            text-align: left;
            padding: 3.73%;
            transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
            line-height: 1rem;
            font-size: 2rem;
            .quotation-marks {
                white-space: nowrap;
                color: #f24e4e;
                font-size: 1.6rem;
                font-weight: 900;
            }
        }
    }
    .middle-container-page-1{
        position: relative;
        grid-row-start: 4;
        grid-row-end: 5;
        display: flex;
        justify-content: center;
        .swipe-card {
            position: relative;
            background-color: #ffffff;
            position: absolute;
            height: 100%;
            width: 160px;
            will-change: transform;
            border-radius: 12px;
            box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
            overflow: hidden;
            .swipe-card-image {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
                margin-top: 1.5em;
                height: 70%;
                width: 100%;
            }
            .swipe-card-title {
                font-size: fontSize(projectTitleBack);
                font-weight: fontWeight(projectTitleBack);
            }
        }
    }
    .bottom-container-page-1 {
        position: relative;
        grid-row-start: 5;
        padding-top: 1em;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
        .down-page-button{
            width: fit-content;
            display: flex;
            flex-direction: column;
            .text-to-next-page {
                font-family: 'Raleway', sans-serif;
                font-size: 1rem;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
    }
}