@import './variables';
@import './functions';

@mixin  flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    ::-webkit-scrollbar {
        display: none;
    }
    @media all and (min-width: 768px) {
        display: grid;
        grid:  100vh 100vh / 30% 70%;
        grid-template-areas: 
            "intro intro"
            "about projects";
    }
    @media all and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
        display: grid;
        grid:  100vh 100vh / 45% 55%;
        grid-template-areas: 
            "intro intro"
            "about projects";
    }
    @media all and (min-width: 1366px) {
        display: grid;
        grid:  100vh 100vh / 25% 75%;
        grid-template-areas: 
            "intro intro"
            "about projects";
    }
    .Intro {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #252934;
        width: 100%;
        height: 100vh;
        @media all and (min-width: 768px) {
            grid-area: intro;
        }
        .profile-paragraph {
            line-height: 120%;
            font-size: fontSize(title);
            color: #BFC0C0;
            max-width: 80%;
            @media all and (min-width: 768px) {
                font-size: 2.5rem;
            }
            .my-name {
                color: #f24e4e;
            }
        }
        .intro-button-container {
            width: 100%;
            .intro-button {
                position: relative;
                display: inline-flex;
                height: 40px;
                width: 150px;
                border: 2px solid #BFC0C0;
                margin: 20px 20px 20px 20px;
                color: #BFC0C0;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1em;
                letter-spacing: 1.5px;
                align-items: center;
                justify-content: center;
                border-radius: 12px;
                cursor: pointer;
                .intro-button-text {
                    color: #BFC0C0;
                    text-decoration: none;
                    letter-spacing: 1px;
                }
            }
        }
    }
    .About {
        position: relative;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
        height: max-content;
        overflow: hidden;
        @media all and (min-width: 768px) {
            grid-area: about;
            height: 100%;
        }
        .SectionTitleGrouping {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: max-content;
            padding: 1rem;
            .section-title {
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                text-transform: uppercase;
                color: #252934;
            }
            .section-title-underline {
                background: #252934;
                height: 4px;
                width: 70px;
            }
        }
        .about-content-container {
            .profile-picture-contents-intro-container {
                margin-top: 0.8rem;
                position: relative;
                display: flex;
                justify-content: space-between;
                height: max-content;
                max-width: 370px;
                .profile-picture-contents-container {
                    width: 30%;
                    max-width: 150px;
                    margin-right: 4%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    .profile-picture {
                        width: 100%;
                        border-radius: 50%;
                        box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
                    }
                    .contents-container{
                        margin-top: 1rem;
                        box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
                        border-radius: 12px;
                        padding: 7.5%;
                        @media all and (min-width: 768px) {
                            display: none;
                        }
                        .SectionTitleGrouping {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            margin-bottom: 0.75rem;
                            .section-title{
                                font-size: 1.1rem;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
    
                            .section-title-underline {
                                background: #252934;
                                height: 2px;
                                width: 60px;
                            }
                        }
                        .navigation-button {
                            margin-top: 0.5rem;
                            color: white;
                            background-color: #f24e4e;
                            font-weight: 500;
                            font-size: 1.1rem;
                            border-radius: 1.625rem;
                            height: 2.2rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding-top: 0.15rem;
                            padding-bottom: 0.15rem;
                        }
                    }
                }
                .profile-paragraph-container {
                    width: 70%;
                    height: max-content;
                    font-family: 'Raleway', sans-serif;
                    color: #252934;
                    text-align: left;
                    padding: 3.73%;
                    transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
                    border-radius: 12px;
                    box-shadow: 4px 7px 13px 3px rgba(0, 0, 0,0.1);
                    font-size: 2rem;
                    .quotation-marks {
                        white-space: nowrap;
                        color: #f24e4e;
                        font-size: 1.6rem;
                        font-weight: 900;
                    }
                }
            }
            .technology-cards-container {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 275px;
                width: 100%;
                margin-top: 3rem;
                margin-bottom: 3rem;
                @media all and (min-width: 768px) {
                    box-shadow: 4px 7px 13px 3px rgba(0, 0, 0,0.1);
                    border-radius: 12px;
                    padding-top: 2rem;
                    overflow: hidden;
                }
                .swipe-card {
                    background-color: #ffffff;
                    position: absolute;
                    height: 225px;
                    width: 150px;
                    border-radius: 12px;
                    box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .swipe-card-image {
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-top: 1.5em;
                        height: 70%;
                        width: 90%;
                    }
                    .swipe-card-title {
                        font-size: fontSize(projectTitleBack);
                        font-weight: fontWeight(projectTitleBack);
                    }
                }
            }
        }
    }
    .Projects {
        position: relative;
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        @media all and (min-width: 768px) {
            grid-area: projects;
            height: 100%;
        }
        .SectionTitleGrouping {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem;
            .section-title {
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                text-transform: uppercase;
                color: #252934;
            }
            .section-title-underline {
                background: #252934;
                height: 4px;
                width: 70px;
            }
        }
        .project-card-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
            width: 100%;
            overflow-y: scroll;
            .project-card-page-2 {
                position: relative;
                width: 100%;
                padding: 0.8rem;
                display: flex;
                align-items: center;
                justify-content: center;
                .container-project-image-expanded {
                    position: fixed;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: white;
                    visibility: visible;
                    height: 100vh;
                    width: 100vw;
                    .project-image-expanded {
                        position: fixed;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 999;
                        width: auto;
                        height: 90%;
                        object-fit: cover;
                        overflow: hidden;
                        visibility: visible;
                    }
                }
                .c {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    height: 240px;
                    width: 90%;
                    max-width: 350px;
                    border-radius: 12px;
                    box-shadow: 4px 7px 13px 3px rgba(0, 0, 0,0.1);
                }
                .projects-container-front {
                    position: absolute;
                    align-items: center;
                    justify-content: flex-end;
                    .project-languages {
                        font-size: 0.8rem;
                        font-weight: 500;
                        color: #F24E4E;
                        height: 8%;
                    }   
                    .project-title-front {
                        position: relative;
                        color: #252934;
                        font-size: fontSize(projectTitleFront);
                        font-weight: fontWeight(projectTitleFront);
                        text-transform: uppercase;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 8%;
                    }
                    .project-image-front {
                        position: relative;
                        height: 68%;
                        width: auto;
                        max-width: 100%;
                    }
                    #work-in-progress {
                        height: auto;
                        width: 90%;
                        margin-bottom: 4rem;   
                    }
                    .learn-more-button-container {
                        position: relative;
                        height: 16%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .learn-more-button {
                            color: white;
                            background-color: #f24e4e;
                            font-weight: 500;
                            border-radius: 1.625rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 80%;
                            padding-top: 0.15rem;
                            padding-bottom: 0.15rem;
                            padding-left: 0.8rem;
                            padding-right: 0.8rem;
                            cursor: pointer;
                        }
                    }
                    .expand-image-icon-container {
                        position: absolute;
                        width: 100%;
                        top: 0;
                        display: flex;
                        justify-content: flex-end;
                        .expand-image-icon {
                            font-size: 2rem;
                            margin: 0.5rem;
                            z-index: 1000;
                        }
                    }
                }
                .projects-container-back {
                    position: relative;
                    display: grid;
                    grid:  auto auto / 85% 15%;
                    grid-template-areas: 
                        "title button"
                        "info info";
                    .project-title-back {
                        position: relative;
                        grid-area: title;
                        color: #252934;
                        font-weight: 600;
                        text-transform: uppercase;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        margin-left: 1rem;
                        margin-bottom: 1rem;
                    }
                    .flip-back-button-container {
                        position: relative;
                        grid-area: button;
                        margin-top: 1rem;
                        margin-right: 1rem;
                        margin-bottom: 1rem;
                        .flip-back-button {
                            border-radius: 50%;
                            color: white;
                            background-color: #f24e4e;
                            padding: 0.2rem;
                            font-size: 2.2rem;
                            cursor: pointer;
                        }
                    }
                    .project-information-container {
                        overflow-y: scroll;
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        margin-left: 1rem;
                        margin-right: 1rem;
                        grid-area: info;
                        .project-information-text {
                            overflow-y: scroll;
                            width: 100%;
                        }
                        .project-information-image {
                            box-shadow: 4px 7px 13px 3px rgba(0, 0, 0,0.1);
                            border-radius: 50%;
                            width: 75%;
                            height: auto;
                            margin-bottom: 2rem;
                        }
                        .project-information-image-rectangle {
                            box-shadow: 4px 7px 13px 3px rgba(0, 0, 0,0.1);
                            border-radius: 12px;
                            width: 90%;
                            height: auto;
                            margin-bottom: 2rem;
                        }
                        .project-information-video {
                            box-shadow: 4px 7px 13px 3px rgba(0, 0, 0,0.1);
                            border-radius: 12px;
                            width: 90%;
                            height: auto;
                            max-height: 200px;
                            margin-bottom: 2rem;
                        }
                    }
                }
            }   
        }
    }
    .Contact {
        position: relative;
        background-color: #252934;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 40vh;
        overflow: hidden;
        @media all and (min-width: 768px) {
            display: none;
        }
        .SectionTitleGrouping {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2.5em;
            margin-bottom: 0.5em;
            .section-title {
                font-family: 'Raleway', sans-serif;
                font-weight: 600;
                font-size: 2rem;
                text-transform: uppercase;
                color: #ffffff;
            }
            .section-title-underline {
                background: #ffffff;
                height: 4px;
                width: 70px;
            }
        }
        .social-icons-container {
            display: inline-flex;
            justify-content: space-evenly;
            margin-top: 20px;
            width: 55%;
            padding: 2%;
            border-radius: 12px;
        }
    }   
}