@import './variables';
@import './functions';

@mixin  flexCenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

.intro-page {
    position: relative;
    background-color: #252934;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    .intro-container {
        position: absolute;
        top: 15%;
        bottom: 0%;
        left: 10%;
        right: 10%;
        .profile-paragraph {
            font-family: 'Raleway', sans-serif;
            margin-top: 8rem;
            line-height: 120%;
            font-size: fontSize(title);
            color: #BFC0C0;
            text-align: left;
            .my-name {
                color: #f24e4e;
            }
        }
        .intro-button-container {
            position: absolute;
            bottom: 0%;
            width: 100%;
            margin-bottom: 5rem;
            .intro-button {
                position: relative;
                font-family: 'Raleway', sans-serif;
                display: inline-flex;
                height: 40px;
                width: 150px;
                border: 2px solid #BFC0C0;
                margin: 20px 20px 20px 20px;
                color: #BFC0C0;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 1em;
                letter-spacing: 1.5px;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                cursor: pointer;
                .intro-button-text {
                    color: #BFC0C0;
                    text-decoration: none;
                    letter-spacing: 1px;
                }
            }
        }
    }
}
.page-1 {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: max-content;
    min-height: 100vh;
    .page-title-grouping {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: max-content;
        .page-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
            color: #252934;
        }
        .underline-page-title {
            background: #252934;
            height: 4px;
            width: 70px;
        }
    }
    .top-container-page-1 {
        position: relative;
        display: flex;
        padding: 4%;
        height: max-content;
        .top-left-container-page-1 {
            width: 30%;
            margin-right: 4%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .my-photo {
                width: 100%;
                border-radius: 50%;
                box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
            }
            .navigation-button-container{
                margin-top: 1rem;
                box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
                border-radius: 12px;
                padding: 7.5%;
                .navigation-container-title-grouping {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 0.75rem;
                    font-size: 1.15rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    .underline-navigation {
                        background: #252934;
                        height: 2px;
                        width: 60px;
                    }
                }
                .navigation-button {
                    margin-top: 0.5rem;
                    color: white;
                    background-color: #f24e4e;
                    font-weight: 500;
                    font-size: 1.15rem;
                    border-radius: 1.625rem;
                    height: 2.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 0.15rem;
                    padding-bottom: 0.15rem;
                }
            }
        }
        .top-right-container-page-1 {
            width: 70%;
            font-family: 'Raleway', sans-serif;
            color: #252934;
            text-align: left;
            padding: 3.73%;
            transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
            line-height: 1rem;
            font-size: 2rem;
            .quotation-marks {
                white-space: nowrap;
                color: #f24e4e;
                font-size: 1.6rem;
                font-weight: 900;
            }
        }
    }
    .middle-container-page-1{
        position: relative;
        display: flex;
        justify-content: center;
        height: 225px;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        padding-top: 1rem;
        .swipe-card {
            background-color: #ffffff;
            position: absolute;
            height: 100%;
            width: 150px;
            border-radius: 12px;
            box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            .swipe-card-image {
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
                margin-top: 1.5em;
                height: 70%;
                width: 90%;
            }
            .swipe-card-title {
                font-size: fontSize(projectTitleBack);
                font-weight: fontWeight(projectTitleBack);
            }
        }
    }
}
.page-2 {
    position: relative;
    background-color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 155vh;
    .page-title-grouping {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        .page-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
            color: #252934;
        }
        .underline-page-title {
            background: #252934;
            height: 4px;
            width: 70px;
        }
    }
    .project-card-page-2 {
        position: relative;
        width: 100%;
        height: 35vh;
        display: flex;
        align-items: center;
        justify-content: center;
        .c {
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 92%;
            width: 90%;
            border-radius: 12px;
            box-shadow: 5px 6px 10px 3px rgba(0, 0, 0,0.1);
        }
        .projects-container-front {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            object-fit: contain;
            .project-title-front {
                position: relative;
                color: #252934;
                font-size: fontSize(projectTitleFront);
                font-weight: fontWeight(projectTitleFront);
                text-transform: uppercase;
                width: 100%;
                height: 20%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .project-image-front {
                position: relative;
                height: 80%;
                width: auto;
                max-width: 100%;
            }
        }
        .projects-container-back {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            .project-title {
                font-size: fontSize(projectTitleBack);
                font-weight: fontWeight(projectTitleBack);
                text-transform: uppercase;
                margin-top: 1rem;
            }
            .project-languages {
                font-size: 0.8rem;
                color: #F24E4E;
            }
            .project-information-container {
                overflow-y: scroll;
                width: 95%;
                height: 25vh;
                .project-information-text {
                    padding-left: 10%;
                    padding-right: 10%;
                }
            }
        }
    }
}
.page-3 {
    background-color: #252934;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    .page-title-grouping {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5em;
        margin-bottom: 0.5em;
        .page-title {
            font-family: 'Raleway', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            text-transform: uppercase;
            color: #ffffff;
        }
        .underline-page-title {
            background: #ffffff;
            height: 4px;
            width: 70px;
        }
    }
    .social-icons-container {
        display: inline-flex;
        justify-content: space-evenly;
        margin-top: 20px;
        width: 55%;
        padding: 2%;
        border-radius: 12px;
    }
}
